{% extends 'base.html' %}

{% block page_content %}
  <h1>Labels</h1>

  {% for type, labels in labels_by_type.items %}
    <h2>{{ labels.0.get_type_display }}</h2>
    <div>
      {% for label in labels %}
        <a href="{% url 'story_index' %}?label_id={{ label.id }}" class="btn m-1" style="background-color: {{ label.label_color }}; color: white;">
          {{ label.name }}
        </a>
      {% endfor %}
    </div>
  {% empty %}
    <p>No labels available.</p>
  {% endfor %}

{% endblock %}