{% extends "base.html" %}
{% load humanize %}

{% block page_content %}
<h1>{{ story.title }}</h1>
<div class="row">
    <div class="col-md-8">
        {% if story.image %}
            <img src="{{ story.image.url }}" width="100%">
        {% endif %}
    </div>
    <div class="col-md-4">
        <p class="card-text">Van <a href="{{ story.source.website }}" target="_blank">{{ story.source.name }}</a>
            <br>{{ story.created|naturaltime }}{% if story.updated %}, updated {{ story.updated|naturaltime }}{% endif %}
            <br>Door {{ story.author }}
        </p>
        <h5>User needs:</h5>
        <p class="card-text">
            User needs: {{ story.needs_sum }}
            <br> Hoofd drijfveer: {{ story.needs_primary }}
            <br> Know: {{ story.needsKnow }}
            <br> Understand: {{ story.needsUnderstand }}
            <br> Feel: {{ story.needsFeel }}
            <br> Do: {{ story.needsDo }}
        </p>
        <h5>Samenvatting:</h5>
        <p>{{ story.summary }}</p>
        <br>
        <h5>Bron:</h5>
        <p><a href="{{ story.url }}">{{ story.url }}</a></p>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h5>Het verhaal...</h5>
            <p>{{ story.story }}</p>
        </div>
    </div>

    <div class="col-md-8">
        <a href="{% url 'story_index' %}"
           class="btn btn-primary">
            Terug
        </a>
    </div>
</div>
{% endblock page_content %}